VITE_REACT_CTP_PROJECT_KEY="motomaxecommerce"
VITE_REACT_CTP_CLIENT_SECRET="t6ytxYsevpplfB47ndAujC0i2odxqNWh"
VITE_REACT_CTP_CLIENT_ID="lqNSMIAIn1OnxNQVtHC4Y8Wc"
VITE_REACT_CTP_AUTH_URL="https://auth.europe-west1.gcp.commercetools.com"
VITE_REACT_CTP_API_URL="https://api.europe-west1.gcp.commercetools.com"
VITE_REACT_CTP_SCOPES="manage_tax_categories:motomaxecommerce manage_standalone_prices:motomaxecommerce manage_project:motomaxecommerce manage_shipping_methods:motomaxecommerce manage_stores:motomaxecommerce manage_quotes:motomaxecommerce manage_states:motomaxecommerce manage_api_clients:motomaxecommerce view_api_clients:motomaxecommerce manage_types:motomaxecommerce manage_shopping_lists:motomaxecommerce manage_quote_requests:motomaxecommerce manage_subscriptions:motomaxecommerce view_audit_log:motomaxecommerce manage_staged_quotes:motomaxecommerce"